GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_your_token_here
GITHUB_REPOSITORY=oceanicvibesfreediving/oceanicvibesfreediving.github.io
GITHUB_BRANCH=main
ADMIN_PASSWORD=replace-with-a-long-password
PORT=3000
